
<html>
    <head>
        <title><%= pageTitle %></title>
        <link href="/tablestyles.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
        </style>
    </head>
    <body>
        
        <div class="container">
            
            <div class="headerdiv">
                <h1 style="font-weight: 800;">Report</h1>
            </div>
            <div class="tablediv">
                <table class="table table-striped">
                    <tr>
                        <th style="font-size: medium;"> Ticket ID</th>
                        <th style="font-size: medium;"> Time</th>
                        <th style="font-size: medium;"> ClientID</th>
                        
                        <%for(var i=1;i<=12;i++){%>
                            <th style="font-size: medium;"> <%= items[i-1] +" "+i  %> </th>
                        <%}%>
                        <th style="font-size: medium"> Prize</th>
                        <th style="font-size:medium">Print</th>
                    </tr>
                    <% for(var i=0; result!=null && i < result.length; i++) { %>
                        <tr>
                            <td><%= result[i].ticket.ticketID %></td>
                            <td><%= result[i].timestamp.getHours() + ":" + result[i].timestamp.getMinutes()%></td>
                            <td><%= result[i].client %></td>
                                <% let sum=0;
                                for(var j=0; j< 12;j++){
                                    
                                    if(result[i].ticket.ticketdata.length>j && result[i].ticket.ticketdata[j]!=null){%>
                                        <td><%= result[i].ticket.ticketdata[j] %></td>
                                        <%if(result[i].slot1 ==j && result[i].ticket.ticketdata[j] !=0 ){
                                            sum=prize[result[i].slot2+1]*result[i].ticket.ticketdata[j];
                                        }
                                    }
                                    else{%>
                                        <td> 0 </td>
                                    <%}}%>
                                    <td style="font-weight: bold;"><%= sum %></td>
                                    <td style="font-weight: bold;"><button onclick="printservice('<%=JSON.stringify(result[i])%>')">🖨️</button></td>
                       </tr>
                    <% } %>
                    </table>
            </div>
            
            
                <div class="footerdiv">
                    <div class="backbutton">
                        <button class="button-30" id="bb"><a href="/slotmachine">Back</a></button>
                    </div>
                    <div class="homebutton">
                        <button class="button-30" id="hb"><a href="/">home</a></button>
                    </div>
                </div>
        </body>
        </div>
        <script>
            function printservice(res){
               let result = JSON.parse(res);
               const ticket = {"ticketID":result.ticket.ticketID, "ticketdata":result.ticket.ticketdata};
               printTicket(ticket);
            }

            function printTicket(ticket) {
    //console.log(ticket.ticketID);
                let str1 = ""+ticket.ticketID;
                let str2="";
                 for(var i=0;i<ticket.ticketdata.length;i++){
                    if(ticket.ticketdata[i]!=null && ticket.ticketdata[i]!=0){
                        str2+= (i+1)+" : "+ticket.ticketdata[i]+",";
                    }
                }

                try{
                    fetch('http://127.0.0.1:5000/', {
                    mode: 'no-cors',
                    method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ "ticketId": str1, "data": str2})
                    }).then(response => {console.log(response)}).then(data =>{console.log(data)});
                }
                catch(err){
                    console.log(err);
                }
            }
        </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>